/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.form-table {
  #side-sortables & {
    width: 100%;
    tr {
      display: block;
      th, td {
        display: block;
        padding: 10px 0;
        width: 100%;

        select, .regular-text {
          width: 100%
        }
      }
    }
  }
}
.si-sender-metabox-actions {
  margin: 0 -12px -12px;
  padding: 10px;
  clear: both;
  border-top: 1px solid #ddd;
  background: #f5f5f5;
  .send-action {
    float: right;
  }
  .statistic-info {
    line-height: 28px;
    vertical-align: middle;
    text-align: left;
    float: left;
  }
}

.import-table {
  tr {
    &.exists {
      td, th {
        opacity: 0.8;
      }
    }
  }
}
.subscribers {
  .status {
    .confirmed {
      color: #0A8A45;
    }
    .unconfirmed {
      color: #DC350C;
    }
  }
  .name {
    em {
      display: inline-block;
      border: 1px solid #ccc;
      padding: 0px 6px;
      border-radius: 2px;
      float: right;
      &.imported {
        background-color: #0A8A45;
        border-color: #0A8A45;
        color: #ffffff;
      }
      &.wrong {
        background-color: #DC350C;
        border-color: #DC350C;
      }
      &.exists {
        color: #448a7c;
        border-color: #0A8A45;
      }
    }
  }

}