/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.form-table {
  #side-sortables & {
    width: 100%;
    tr {
      display: block;
      th, td {
        display: block;
        padding: 10px 0;
        width: 100%;

        select {
          width: 100%
        }
      }
    }
  }
}